.order-card {
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 2px 2px 10px lightgray;
    overflow: hidden;
    width: 400px;
    /* margin-left: 500px; */
    height: 300px;
    /* margin-top: 100px; */
}

.order-card .header {
    background-color: lightgray;
    padding: 10px;
    text-align: center;
}

.order-header {
    font-size: 1.2em;
    font-weight: bold;
    cursor: default;
}

.order-card .content {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.image-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-right: 20px;
}

.order-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.order-info {
    margin-bottom: 10px;
    font-size: 1.1em;
    flex-basis: 100%;
}