.payment-page {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.payment-page h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form-row label {
    width: 120px;
    font-weight: bold;
    font-size: 0.9em;
    text-align: right;
    margin-right: 10px;
}

.form-row input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9em;
}

.form-row input:focus {
    outline: none;
    border-color: #4CAF50;
}

.cart-items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.cart-item {
    width: calc(25% - 20px);
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.cart-item-name {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.cart-item-price {
    font-size: 0.9em;
    color: #4CAF50;
}

.cart-item-quantity {
    font-weight: bold;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.cart-item-img img {
    width: 50%;
}

.total-price {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}

#btn-pay {
    margin-left: 300px;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    transition: all 0.2s ease-in-out;
}

#btn-pay:hover {
    background-color: #3e8e41;
}

#btn-pay:active {
    transform: scale(0.95);
}

.voucher label {
    width: 120px;
    font-weight: bold;
    font-size: 0.9em;
    text-align: right;
    margin-right: 10px;
}

.voucher input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9em;
    width: 15%;
}

.voucher input:focus {
    outline: none;
    border-color: #4CAF50;
}

.btn-voucher {
    position: relative;
    left: 250px;
    bottom: 38px;
}

.COD-checkbox {
    font-weight: bold;
    font-size: 1.2em;
    text-align: right;
    margin-right: 10px;
    position: relative;
    bottom: 30px;
}

.COD-checkbox input {
    -ms-transform: scale(2);
    /* IE */
    -moz-transform: scale(2);
    /* FF */
    -webkit-transform: scale(2);
    /* Safari and Chrome */
    -o-transform: scale(2);
    /* Opera */
    transform: scale(2);
    padding: 10px;
    margin-right: 7px;
    accent-color: green;
}

.btn-cancel-order {
    position: relative;
    left: 0px;
}

.check-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.check-icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid green;
    position: relative;
    animation: icon-animation 1s ease-in-out forwards;
}

.icon-circle {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0);
    animation: circle-animation 1s ease-in-out forwards;
}

.icon-check {
    display: block;
    width: 30px;
    height: 20px;
    border-left: 3px solid green;
    border-bottom: 3px solid green;
    position: absolute;
    top: 15px;
    left: 12px;
    transform: rotate(-45deg) scale(0);
    animation: check-animation 1s ease-in-out forwards;
}

.check-message {
    margin-top: 20px;
    font-size: 20px;
    color: green;
}

@keyframes icon-animation {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.5);
    }
}

@keyframes circle-animation {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale
    }
}

@keyframes check-animation {
    0% {
        transform: rotate(-45deg) scale(0);
    }

    100% {
        transform: rotate(-45deg) scale(1);
    }
}

.cross-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.cross-icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid red;
    position: relative;
    animation: icon-animation 1s ease-in-out forwards;
}


/* .cross-line {
    display: block;
    width: 25px;
    height: 3px;
    background-color: red;
    position: absolute;
    top: 30px;
    left: 25px;
    transform: rotate(60deg) scale(0);
    animation: cross-animation 1s ease-in-out forwards;
}

.cross-line-1 {
    transform-origin: left top;
    left: 18px;
    transform: rotate(45deg) scale(0);
}

.cross-line-2 {
    top: 15px;
    transform-origin: right bottom;
    transform: rotate(-45deg) scale(0);
} */

.cross-line-1,
.cross-line-2 {
    position: absolute;
    top: 70%;
    left: 16%;
    width: 60%;
    height: 3px;
    background-color: red;
}

.cross-line-1 {
    transform-origin: left top;
    transform: rotate(45deg) translate(-50%, -50%);
    animation: cross-animation1 1s ease-in-out forwards;
    margin-left: 5px;
}

.cross-line-2 {
    transform-origin: right bottom;
    transform: rotate(-45deg) translate(-50%, 50%);
    animation: cross-animation2 1s ease-in-out forwards;
}


.cross-message {
    margin-top: 20px;
    font-size: 20px;
    color: red;
}

@keyframes icon-animation {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.5);
    }
}

@keyframes cross-animation1 {
    0% {
        transform: rotate(45deg) scale(0);
    }

    100% {
        transform: rotate(-45deg) scale(1);
    }
}

@keyframes cross-animation2 {
    0% {
        transform: rotate(-45deg) scale(0);
    }

    100% {
        transform: rotate(45deg) scale(1);
    }
}